<%- include ("partials/header"); -%> <!--includeded the header file specified in partial folder using view engine and same below-->

<h1>about</h1>
<p><%= aboutSection %></p>


<%- include ("partials/footer"); -%>